@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: 'Kalnia', serif;
    font-family: 'Silkscreen', sans-serif;
  
    margin-left: 10%;
    margin-right: 10%;

}


.title{
    font-weight: 600;
}

/*Header*/

#menu a, button{
    font-size: 18px !important;
    font-weight: 600;
    
}

#menu a{
    color:#000000;
}

.carousel-inner {
    max-height:39rem !important;
}

  /* article  */
.article-new {
    background-color: #ffffff; 
    padding: 30px; 
  }
  
  .new-product {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .new-product .row {
    display: flex; 
    justify-content: center; 
  }

  .new1-product .row {
    display: flex; 
    justify-content: center;
  }
  
  .new-product .col-12 {
    padding: 0 10px; 
  }
  
.new-product .col-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .custom-img {
    max-width: 100%; 
    height: auto; 
  }
  
  img {
	  width: 100%;
	  height: auto;
  }
  
  .new-product h3 {
    font-size: 24px; 
    margin-bottom: 10px; 
    margin-left:15px ;
    margin-top: 20px;
  }
  
  /* Style the span within the heading */
  .new-product span.text-danger {
    color: #dc3545; /* Set text color to red */
  }
  
  /* Style the paragraph */
  .new-product p {
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Set line height */
    margin-top: 15px; /* Add space above the paragraph */
    margin-left: 25px;
  }

/* navbar */

.navbar-brand img {
    width:100px; /* Adjust the width of the logo as needed */
    height: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Align items at each end of the row */
  align-items: center; /* Align items vertically in the middle */
}

.animated-div {
  position: relative;
  animation: moveLeftToRight 40s linear infinite;
 }

 .navbar-link{
  
  display: flex;
 }

 ul{
 margin: 40px;
 }


.navbar-nav {
  display: flex; /* Make the navbar links flex container */

  list-style-type: none; /* Remove list symbols */
}

.nav-item {
  margin-left: 15px; /* Add margin between navbar items */
}

.nav-link {
  color: #333; /* Text color */
  text-decoration: none; /* Remove underline */
  padding: 10px; /* Add padding around navbar links */
}

.nav-link:hover {
  color: #555; /* Darken text color on hover */
}


td.bottom_td {
    font-size: 13px;
    font-weight: bold;
    
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
}


td.bottom_td button {
    display: block;
    width: 90%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #dbd2d2; 
    color: rgb(0, 0, 0); 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

/*FOOTER*/

footer {
    min-height: 100px;;
}
footer p{
    text-align:center;
}
#iconos {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
}

#iconos i {
  color: #000000;
  font-size: 26px;
  padding: 0 8px;
}

/*MEDIA QUERIES*/


@media (max-width:768px) {

    #bg-contactos{
        top: -120px;
    }
}

@media (max-width: 1250px) {
    .image img{
        max-width: 200px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 92%;
    }
    
    .image img{
        max-width: 250px;
    }

    .products-preview-container .product-preview .content p {
        font-size: 14px;
        line-height: 1;
        padding: 5px 0;
    }

    .products-preview-container .product-preview .content .stars {
        padding-top: 5px;
    }
    .products-preview-container .product-preview .content .price {
        font-size: 20px;
        padding: 5px 0;
    }
    
}

@media (max-width: 576px) {
    html {
        font-size: 87%;
    }

    .btn{
        font-size: 12px !important;
    }
    .products .slide img {
        height: 150px;
    }

    .navbar-toggler{
        font-size: 12px !important;
    }
    #menu a{
        font-size: 15px !important;
    }

    .products-preview-container .product-preview .content h3 {
        font-size: 20px;
    }
    
    .products-preview-container .product-preview .content p {
        font-size: 12px;
    }

    .products-preview-container .product-preview .content .stars {
        padding: 5px 0;
        font-size: 12px;
    }
    .products-preview-container .product-preview .content .price {
        font-size: 20px;
        padding: 5px 0;
    }

}


  @media (min-width: 768px) {
    .custom-img {
      max-width: 50%; 
    }
  }
  

  @media (min-width: 992px) {
    .custom-img {
      max-width: 60%; 
    }
  }
  @media (min-width: 768px) {
    .new-product .col-12 {
      flex: 0 0 60%; 
    }
  }
  

  @media (min-width: 992px) {
    .new-product .col-12 {
      flex: 0 0 33.33%; 
    }
  }
  .animated-div {
    position: relative;
    animation: moveLeftToRight 40s linear infinite;
   }
   
   @keyframes moveLeftToRight {
     0% {
       left: 0;
    }
     100% {
       left: 100%;
    }
   }

