@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: 'Kalnia', serif;
    font-family: 'Silkscreen', sans-serif;
  
    margin-left: 10%;
    margin-right: 10%;

}


.title{
    font-weight: 600;
}

/*Header*/

#menu a{
    font-size: 18px !important;
    font-weight: 600;
    
}

#menu a{
    color:#000000;
}


/* navbar */

.navbar-brand img {
  width:100px; 
  height: auto;
}

.navbar-container {
display: flex;
justify-content: space-between; 
align-items: center; 
}

.animated-div {
position: relative;
animation: moveLeftToRight 40s linear infinite;
}

.navbar-link{

display: flex;
}

ul{
margin: 40px;
}


.navbar-nav {
display: flex; 

list-style-type: none;
}

.nav-item {
margin-left: 15px; 
}

.nav-link {
color: #333; 
text-decoration: none; 
padding: 10px;
}

.nav-link:hover {
color: #555; 
}

 
@keyframes moveLeftToRight {
  0% {
    left: 0;
 }
  100% {
    left: 100%;
 }
}

/* select button */
.custom-select {
  padding: 8px 16px; 
  font-size: 16px; 
  border: 1px solid #000000; 
  border-radius: 4px; 
  background-color: #fff; 
  color: #333;
  appearance: none; 
}

.custom-select:focus {
  outline: none; 
  border-color: #ff0000; 
}
.custom-select option {
  padding: 8px 16px; 
}

/* Style the input number */
input[type="number"] {
  padding: 8px;
  font-size: 16px; 
  border: 1px solid #030303; 
  border-radius: 4px; 
}

/* Style the button */
button.normal {
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 4px; 
  background-color: #f82732; 
  color: #fff; 
  cursor: pointer; 
}

button.normal:hover {
  background-color: #000000; 
}


/* Single Product */

#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4{
  padding:40px 0 20px 0 ;
}
#prodetails .single-pro-details h2{
 font-size: 26px;
}
#prodetails .single-pro-details select{
  display: block;
  padding:5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
 
}
#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}

/*FOOTER*/

footer {
  min-height: 100px;
  margin-top: 40px;
}
footer p{
  text-align:center;
}
#iconos {
display: flex;
justify-content: center; /* Align items horizontally in the center */
}

#iconos i {
color: #000000;
font-size: 26px;
padding: 0 8px;
}
  


