@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: 'Kalnia', serif;
font-family: 'Silkscreen', sans-serif;
margin-left: 10%;
margin-right: 10%;

}

.title{
    font-weight: 600;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/* navbar */

.navbar-brand img {
    width:100px; 
    height: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.animated-div {
  position: relative;
  animation: moveLeftToRight 40s linear infinite;
 }

 .navbar-link{
  
  display: flex;
 }

 ul{
 margin: 40px;
 }


.navbar-nav {
  display: flex; 

  list-style-type: none; 
}

.nav-item {
  margin-left: 15px; 
}

.nav-link {
  color: #333; 
  text-decoration: none;
  padding: 10px; 
}

.nav-link:hover {
  color: #555;
}


/*Product*/

.products h1{
    text-align: center;
}

.swiper-slide {
    flex: 0 0 20%; 
    max-width: 25%; 
    padding: 0 15px; 
  }
  
  .swiper-wrapper {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
  }
  
  .swiper-slide img {
    max-width: 100%;
    height: auto;
  }
  
  .swiper-slide h3 {
    margin-top: 10px; 
    font-size: 18px; 
  }
  
  .swiper-slide .btn {
    margin-top: 10px;
    padding: 8px 16px; 
    background-color: #ec0a0a; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
  }
  
  .swiper-slide .btn:hover {
    background-color: #000000; 
  }
  
  /* article  */
.article-new {
    background-color: #ffffff; 
    padding: 30px; 
  }
  
  .new-product {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .new-product .row {
    display: flex; 
    justify-content: center; 
  }

  .new1-product .row {
    display: flex; 
    justify-content: center; /
  }
  
  .new-product .col-12 {
    padding: 0 10px; 
  }
  
.new-product .col-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .custom-img {
    max-width: 100%; 
    height: auto; 
  }
  
  .new-product h3 {
    font-size: 24px; 
    margin-bottom: 10px; 
    margin-left:15px ;
    margin-top: 20px;
  }
  
  /* Style the span within the heading */
  .new-product span.text-danger {
    color: #dc3545; /* Set text color to red */
  }
  
  /* Style the paragraph */
  .new-product p {
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Set line height */
    margin-top: 15px; /* Add space above the paragraph */
    margin-left: 15px;
  }


/*FOOTER*/

footer {
    min-height: 100px;;
}
footer p{
    text-align:center;
}
#iconos {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
  }
  
  #iconos i {
    color: #000000;
    font-size: 26px;
    padding: 0 8px;
  }

/*MEDIA QUERIES*/


@media (max-width:768px) {

    #bg-contactos{
        top: -120px;
    }
}

@media (max-width: 1250px) {
    .image img{
        max-width: 200px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 92%;
    }
    
    .image img{
        max-width: 250px;
    }

    .products-preview-container .product-preview .content p {
        font-size: 14px;
        line-height: 1;
        padding: 5px 0;
    }

    .products-preview-container .product-preview .content .stars {
        padding-top: 5px;
    }
    .products-preview-container .product-preview .content .price {
        font-size: 20px;
        padding: 5px 0;
    }
    
}

@media (max-width: 576px) {
    html {
        font-size: 87%;
    }

    .btn{
        font-size: 12px !important;
    }
    .products .slide img {
        height: 150px;
    }

    .navbar-toggler{
        font-size: 12px !important;
    }
    #menu a{
        font-size: 15px !important;
    }

    .products-preview-container .product-preview .content h3 {
        font-size: 20px;
    }
    
    .products-preview-container .product-preview .content p {
        font-size: 12px;
    }

    .products-preview-container .product-preview .content .stars {
        padding: 5px 0;
        font-size: 12px;
    }
    .products-preview-container .product-preview .content .price {
        font-size: 20px;
        padding: 5px 0;
    }

}


  @media (min-width: 768px) {
    .custom-img {
      max-width: 50%; 
    }
  }
  

  @media (min-width: 992px) {
    .custom-img {
      max-width: 60%; 
    }
  }
  @media (min-width: 768px) {
    .new-product .col-12 {
      flex: 0 0 60%; 
    }
  }
  

  @media (min-width: 992px) {
    .new-product .col-12 {
      flex: 0 0 33.33%; 
    }
  }
  .animated-div {
    position: relative;
    animation: moveLeftToRight 40s linear infinite;
   }
   
   @keyframes moveLeftToRight {
     0% {
       left: 0;
    }
     100% {
       left: 100%;
    }
   }

