@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: 'Kalnia', serif;
    font-family: 'Silkscreen', sans-serif;
  
    margin-left: 10%;
    margin-right: 10%;

}

.title{
    font-weight: 600;
}

/*Header*/

#menu a{
    font-size: 18px !important;
    font-weight: 600;
    
}

#menu a{
    color:#000000;
}

/* navbar */

.navbar-brand img {
  width:100px; 
  height: auto;
}

.navbar-container {
display: flex;
justify-content: space-between; 
align-items: center; 
}

.animated-div {
position: relative;
animation: moveLeftToRight 40s linear infinite;
}

.navbar-link{

display: flex;
}

ul{
margin: 40px;
}


.navbar-nav {
display: flex; 

list-style-type: none;
}

.nav-item {
margin-left: 15px; 
}

.nav-link {
color: #333; 
text-decoration: none; 
padding: 10px;
}

.nav-link:hover {
color: #555; 
}

@keyframes moveLeftToRight {
  0% {
    left: 0;
 }
  100% {
    left: 100%;
 }
}

/* form */
form {
    max-width: 500px;
    margin: 0 auto;
}


input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Style the button */
button.normal {
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 4px; 
    background-color: #f82732; 
    color: #fff; 
    cursor: pointer; 
  }
  
  button.normal:hover {
    background-color: #000000; 
  }
  
  label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
  }
  
  /* Style the select dropdown */
  select {
    width: 100%; 
    padding: 8px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 10px;
  }

  select option {
    padding: 8px; 
  }
  /*FOOTER*/

footer {
    min-height: 100px;
    margin-top: 40px;
  }
  footer p{
    text-align:center;
  }
  #iconos {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
  }
  
  #iconos i {
  color: #000000;
  font-size: 26px;
  padding: 0 8px;
  }